@import url(mobile.css);


:root {
    /*fonts*/
    --font-xxl: 14rem ; 
    --font-xl: 6rem ;
    --font-lg: 3rem ;
    --font-md: 1.5rem;
    --font-generic: 1.2rem;
    --font-sm: 1rem;
    --font-smm: .8rem ;


    /*backgrounds*/
    --background: #0f0f11;
    --stroke: #16161a;

    --background-glass: #11111600;
    --stroke-glass: #afb2cc17 ;

    --bg-card: rgb(14, 14, 17);
    --stroke-card: rgb(16, 16, 20);

    --brand-color: #fcfcfc;
    --brand-color-glass: rgba(255, 255, 255, 0.466);

    --hilight-text: #d8faff;
    --stroke-hilight: rgb(255, 62, 62);
    --blue-light: #5855ff;
    /*texts*/
    --always-white: #f5f4ff;
    --white-text: #f0efff;
    --dark-text: #19191B;
    --gray-text: #a0a6c9;
    --light-gray-text: #dee0e6;

    --light-text: #f0f0f0;
    --glass-light-text: #f4f4ffa8;
    --glass-dark-text: #0a0a0ea1;

}
@media (prefers-color-scheme: dark) {
    body {
        background-size: cover;
        background-image: url(../../src/assets/backgrounds/mainbg.png);
    }
}
@media (prefers-color-scheme: light) {
:root {

    /*backgrounds*/
    --background: #0f0f11;
    --stroke: #16161a;

    --background-glass: #11111600;
    --stroke-glass: #afb2cc17 ;

    --bg-card: rgb(14, 14, 17);
    --stroke-card: rgb(16, 16, 20);

    --brand-color: #fcfcfc;
    --brand-color-glass: rgba(255, 255, 255, 0.466);

    --hilight-text: #ded8ff;
    --stroke-hilight: rgba(204, 213, 255, 0.459);
    --blue-light: #5855ff;

    /*texts*/
    --white-text: #000000d7;
    --dark-text: #ededf7;
    --gray-text: #a3a8c4;
    --light-gray-text: #000000;

    --light-text: #54565e;
    --glass-light-text: #f4f4ffa8;
    --glass-dark-text: #0a0a0ea1;

}
    body {
        background-size: cover;
        background-image: url(../../src/assets/backgrounds/mainbglight.png);
    }
    .modern-navbar {
        .logo {
        font-size: 1.2rem;
        color: var( --aeshtetic-white);
        font-weight: bolder;
        img {
            filter: invert(100);
            width: 1.2rem;
        }  
        }
        .nav-btn {

        img {

            filter: invert(100);
        }
        }
        .nav-btn:hover {
            img {
                filter: invert(0);
            }
        }
    }
    #projects {
    
    margin-top: 3rem;
    .card-container {
        width: 90%;
    }
    .card {
        a {
            color: var(--dark-text);
        }
    }

}
}

footer {
    border-top: 1px solid var(--stroke-secondary);
    background-color: var(--background-secondary);
    p {
        color: var(--white-text);
    }
}
.bionix {
    font-family: 'Bionix', sans-serif;
}
.geist {
    font-family: "Geist", sans-serif;  
}


.pixel {
    font-family: 'ProggyTinyTTSZ', sans-serif;
    font-family: 'ProggyTinyTT', sans-serif;
}
.bg-grid {
  height: 100%;

  background-image: 
    url("../../../Assets/Backgrounds/"), /*Deixar vazio para manter as linhas aparecendo*/
    linear-gradient(to right, rgba(133, 129, 209, 0.062) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(79, 78, 165, 0.116) 1px, transparent 1px);

  background-size: 
    cover,   
    50px 50px, 
    50px 50px; 

  background-position: center, 0 0, 0 0;
  background-repeat: no-repeat, repeat, repeat;
}