

#papers {
    margin-top: 1rem;
    border: 1px solid var(--stroke-glass);
        height: 500px;
    section {
        border: 1px solid var(--gray-text);
        h1 {
            color: var(--white-text);
        }
        p {
            color: var(--gray-text);
        }
    }
    .container-papers {
            height: 500px;
  
    }
    .paper {
        border: 1px solid rgb(14, 14, 14);
        padding: .5rem;
        width: 700px;
        transition: .2s;
        height: 120px;
        background-color: var(--background);
        h1 {
            font-size: var(--font-md);
            color:  var(--white-text);
        }
        p {
            font-size: var(--font-sm);
            color: var(--gray-text);
        }

    }
    .paper:hover {
        filter: invert(100);
        transform: scale(1.05);
    }
}
    .asciart-banner {
        color: var(--white-text);

    }

    .paper-friends {
        animation: papersShow 3s ease;
        border: 1px solid rgba(238, 238, 255, 0.616);
        padding: .5rem;
         width: 700px;
         height: 100px;
        transition: .2s;
        background-color: var(--background);
        h1 {
            padding: .2rem .5rem;
            font-size: var(--font-md);
            color:  var(--gray-text);

        }
        span {
            padding: 0rem .2rem;
            background-color: var(--white-text);
        }
        p {
            margin-left: -5rem;
            font-size: var(--font-sm);
            color: var(--gray-text);
        }    
        .asciart-banner {
            color: var(--white-text);
            font-size: var(--font-smm);
            pre {
                max-width: 100px;
                max-height: 100px;
                margin-top: -4rem;
            }
        }
    }
    .paper-friends:hover {
        filter: invert(100);
        transform: scale(1.05);
    }
    .papers-page {
        background-color: #000000;

        .paper-content {
            animation: papersShow 2s ease;
        }

        h1 {
            font-size: var(--font-xl);
            color:  var(--white-text);
        }
        h2 {
            font-size: var(--font-md);
            color:  var(--white-text); 
        }
        p {
            line-height: 1;
            font-size: var(--font-md);
            color: var(--gray-text);
        } 
        strong {
            color: var(--white-text);
        }
        a {
            color: red;
        }
        code {
            line-height: 1;
            font-size: var(--font-generic);
            color: var(--light-gray-text);    
        }
        pre {
            font-size: var(--font-generic);
            color: var(--white-text);
        }
    }