
.modern-navbar {
    transition: .2s;
    nav {
        animation: navbarshow 1s ease;
        width: 15%;
        position: relative;
        padding: 1px; 
        border-radius: 3rem;
        box-shadow: 0 4px 10px rgba(17, 26, 34, 0.13);
        overflow: hidden; /* necessário para recortar corretamente o pseudo-elemento */
        
    }
    ol {
        padding: .8rem;
        border: 1px solid var(--stroke-glass);
        background-color: var( --background-glass);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(6px);
        border-radius: 3rem;
    }
    .logo {
        font-size: 1.2rem;
        color: var( --white-text);
        font-weight: bolder;
        img {
            width: 1.2rem;
        }
    }
    .nav-btn {
        transition: .2s;
        font-weight: bold;
        font-size: var(--font-sm);
        color: var(--white-text);
        border-radius: 2rem;
        padding: .3rem .7rem;
    }
    .nav-btn:hover {
        background-color: var( --white-text);
        color: var(  --dark-text);
                padding: .3rem 2rem;
        /*esteregg? amo meu namorado <3 */
        img {
            filter: invert(100);
        }
    }
    .separator {
        height: 20px;
        width: 1px;
        background-color: var(--stroke-glass);
    }
}
.modern-navbar:hover {
    transform: scale(1.04);
}
.modern-navbar-2 {
    transition: .2s;
    nav {
        animation: navbarshow 1s ease;
        width: 25%;
        position: relative;
        padding: 1px; 
        border-radius: 3rem;
        overflow: hidden; /* necessário para recortar corretamente o pseudo-elemento */
        
    }
    ol {
        gap: .5rem;
        box-shadow: 0 4px 10px rgba(17, 26, 34, 0.13);
        padding: .8rem;
        border: 1px solid var(--stroke-glass);
        background-color: var( --background-glass);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(6px);
        border-radius: 3rem;
    }
    .logo {
        font-size: 1.2rem;
        color: var( --white-text);
        font-weight: bolder;
        img {
            width: 4rem;
        }  
    }
    .nav-btn {
        transition: .2s;
        font-weight: bold;
        font-size: var(--font-sm);
        color: var(--white-text);
        border-radius: 2rem;
        padding: .3rem .7rem;
    }
    .nav-btn:hover {
        background-color: var( --white-text);
        color: var(  --dark-text);
                padding: .3rem 2rem;
        /*esteregg? amo meu namorado <3 */
        img {
            filter: invert(100);
        }
    }
    input {
        color: var(--white-text);
        background-color: var( --background-glass);
        -webkit-backdrop-filter: blur(40px);
        backdrop-filter: blur(10px);
        border-radius: 3rem;
        border: 1px solid var(--stroke-hilight);
        padding: .3rem;
    }
    .separator {
        height: 20px;
        width: 1px;
        background-color: var(--stroke-hilight);
    }
}
.modern-navbar-2:hover {
    transform: scale(1.04);
}
.glass-modal {
        transition: .2s;
        border: 1px solid var(--stroke-glass);
        background-color: var( --background-glass);
        box-shadow: 0 4px 30px rgba(8, 25, 39, 0.349);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(6px);
        border-radius: 2rem;
}
.glass-modal:hover {
    transform: scale(1.05);
}

#navbar-modal-items {
    margin-top: 5rem;
    width: 200px;
    height: 190px;
    text-align: center;
    animation: liquidglassdown .2s ease;
    .nav-btn {
        transition: .2s;
        font-weight: bold;
        font-size: var(--font-sm);
        color: var(--white-text);
        border-radius: 2rem;
        padding: .6rem .7rem;
        img {
            transition: .2s;
            transform: rotate(-150deg);
            width: 1.2rem;
        }
    }
    .nav-btn:hover {
        background-color: var( --white-text);
        color: var(  --dark-text);
        /*esteregg? amo meu namorado <3 */
        img {
            transform: rotate(-180deg);
            filter: invert(100);
        }
    }
    .selected {
        background-color: var( --white-text);
        color: var(  --dark-text);
    }
}
.asc-bar {
    font-size: var(--font-generic);
    color: var(--gray-text);
    nav {
        border-radius: .2rem;
        height: 80px;
        width: 700px;
        padding: .2rem;
        border: 1px solid var(--gray-text);
    }
    .border-b {
         border-bottom: 1px solid var(--gray-text);
    }
    pre {
        line-height: .8rem;
    }
    a {
        font-size: var(--font-generic);
        font-weight: bold;
        color: var(--white-text);
        span {
            transition: .2s;
            padding-left: -.2rem;
            padding-right:-.2rem;
        }
    }
    a:hover {
        height: 1.4rem;
        color: var(--white-text);
        border-bottom: 1px solid var(--white-text);
    }
}