@media screen and (max-width: 1000px) {
    :root {
    --font-xxl: 2rem ; 
    --font-xl: 2rem ;
    --font-lg: 1rem ;
    --font-md: 1rem;
    --font-generic: 1rem;
    --font-sm: 1rem;
    --font-smm: .8rem ;
    }
    .asc-bar {
        font-size: var(--font-generic);
        nav {
            margin-top: 3rem;
            height: 80px;
             width: 95%;
            padding: .2rem;
        }

        a {
            font-size: var(--font-generic);
            font-weight: bold;
            span {
                transition: .2s;
                padding-left: -.2rem;
                padding-right:-.2rem;
            }
        }
        a:hover {
            height: 1.4rem;
        }
    }


#papers {
    width: 95%;
    height: fit-content;
    .container-papers {
            height:  fit-content;
    }
    .paper {
        padding: .5rem;
        width: 100%;
        height: fit-content;
        h1 {
            font-size: var(--font-md);
        }

    }
}

    .paper-friends {
    width: 95%;
         height: 120px;
        transition: .1s;
        h1 {
            padding: .2rem .5rem;
            font-size: var(--font-md-pc);

        }
        span {
            padding: 0rem .2rem;
        }
        p {
            margin-top: -2rem;
            font-size: var(--font-sm-pc);
        }    
        .asciart-banner {
            font-size: var(--font-smm-pc);
            pre {
                max-width: 150px;
            }
        }
    }
    .papers-page {
        .asc-bar {
            nav {
                height: 80px;
                width: 100%;
                padding: .2rem;
            }
        }
        text-align: center;
        h1 {
            font-size: var(--font-xl-mobile);
        }
        h2 {
            font-size: var(--font-md-mobile);
        }
        p {
            font-size: var(--font-generic-mobile);
            
        } 
        pre {
            font-size: var(--font-generic-mobile);
            color: var(--aesthetic-white);
        }
    }
}